@import "tailwindcss";

:root {
  --background: #f0f2f5;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
